body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #000;
}

a:link,
a:visited {
  color: #fff;
}

.image {
  max-width: 500px;
}

img {
  width: 100%;
}
