body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #000;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  min-height: 80vh;
  font-size: 20px;
}

a:link,
a:visited {
  color: #fff;
}

.image {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
  padding: 20px;
}

img {
  width: 100%;
}
